<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" mode="ios">
        <ion-icon slot="start" name="chevron-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>SME Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container"> 
    <div class="e-form">
      <form #form="ngForm" (onSubmit)="onClick(form)">
        <div>
          <label>Network Provider</label>
          <ion-select 
            placeholder="Network provider" 
            required
            [(ngModel)]="details.network"
            name="network" >
            <ion-select-option value="mtn" >
            MTN
            </ion-select-option>
          </ion-select>
        </div>
        <div>
          <label>Select Bundle</label>
            <ion-select 
              placeholder="Select bundle type" 
              required
              [(ngModel)]="details.bundle"
              (ngModelChange)="selectBundle()"
              name="bundle"
            >
            <ion-select-option 
              *ngFor="let bundle of bundles"
              value="{{bundle.name}}" 
            >
            {{bundle.name}}
            </ion-select-option>
          </ion-select>
        </div>
        <div>
          <label>Phone Number</label>
          <ion-input  
            type="text" 
            inputmode="tel" 
            placeholder="Phone Number" 
            required [(ngModel)]="details.phoneNumber"
            name="phone_number"
          >
          </ion-input>
        </div>
        <div>
          <label>Amount</label>
          <ion-input 
            type="number"  
            inputmode="numeric"
            placeholder="Amount"
            readonly
            [(ngModel)]="details.amount"
            name="amount"
          >
        </ion-input>
        </div>
        <div class="btn">
          <ion-button (click)="onClick(form)" expand="block" mode="ios">
            NEXT
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>


