#container {
	padding: 70px 30px;
	height: 100%;

	.btn {
		ion-button {
			--background: linear-gradient(270deg, #de0623 0%, #cd7d04 100%);
			--background-activated: var(--ion-color-primary);
			--background-activated-opacity: 1; //#0B4DB1 0E5ECA
			--background-hover-opacity: 1;
			--background-hover: transparent;
			--border-radius: 6px;
			--color: #ffffff;
			--color-activated: #ffffff;
			--color-focused: #ffffff;
			--opacity: 1;
			--padding-top: 4px;
			--padding-bottom: 4px;
			width: 100%;
			min-height: 48px;
			font-family: 'Avenir';
			margin: 15px auto;
		}
	}

	h3 {
		font-family: 'Poppins';
		font-weight: 600;
		color: var(--ion-color-primary);
		font-size: 24px;
		margin: 20px 0px 20px 0px;

		p {
			font-size: 12px;
			color: #8c8c8c;
			padding-top: 0px !important;
		}
	}
	ion-buttons {
		padding: 0 !important;
		margin: 0 !important;
		ion-button {
			--background: transparent;
			--color-hover: var(--ion-color-dark);
			--color: var(--ion-color-dark);
			--background-hover: transparent;
			--padding-bottom: 0;
			--padding-end: 0;
			--padding-start: 0;
			--padding-top: 0;
			margin: 0;
		}
	}

	.login-buttons {
		display: grid;
		grid-template-columns: 1fr 0.5fr;
		margin-left: -30px;
	}
	.forgot-pin {
		--padding-start: 0;
		margin-left: -5px;
		--color: var(--ion-color-secondary) !important;
	}
}

#container strong {
	font-size: 20px;
	line-height: 26px;
}

#container p {
	font-size: 16px;
	line-height: 22px;

	color: #8c8c8c;

	margin: 0;
}

#container a {
	text-decoration: none;
}

.border-primary {
	border: solid 1px var(--ion-color-primary);
}

.brand {
	padding: 30px;
}

.buttons {
	padding: 30px 0px;
}

ion-input {
	--background: #f2f2f2;
	--placeholder-font-style: initial;
	--placeholder-font-weight: initial;
	--placeholder-opacity: 0.5;
	--padding-top: 15px;
	--padding-bottom: 15px;
	--padding-start: 15px;
	--placeholder-color: var(--ion-color-secondary-contrast);
	--color: var(--ion-color-dark);
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
}

.label {
	padding: 30px 0 !important;
	font-size: 12px;
	font-family: 'Poppins';
	font-weight: 600;
	color: var(--ion-color-dark);
}

.times {
	font-weight: 500;
	font-size: 24px;
}

.logo {
	width: 60px;
	height: 60px;
	padding: 10px;
	color: #ffffff;
	font-size: 44px;
	font-weight: 900;
	font-family: 'Poppins';
	background-color: var(--ion-color-primary);
}
