/** Form */
.overlay {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000000, 0.3);
}

.form {
	position: absolute;
	bottom: -20px;
	width: 100%;
	height: 430px;
	font-family: 'Poppins';
	padding: 10px 30px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color: #ffffff;
	box-shadow: 0 2px 45px 0 rgba(129, 129, 129, 0.31);
	z-index: 5;

	ion-buttons {
		margin: 10px 0;
		ion-button {
			--border-style: none !important;
			box-shadow: none !important;
			color: #5f5e5e !important;
			font-weight: 100 !important;
			font-size: 20px !important;
			letter-spacing: 0.29px;
			line-height: 38px;
			--background-hover: transparent;
		}
	}

	h4 {
		small {
			display: block;
			color: #333333;
			font-family: 'Poppins';
			font-size: 12px;
			letter-spacing: 0.23px;
			line-height: 18px;
			width: 259px;
		}
	}

	.btn {
		ion-button {
			--background: linear-gradient(270deg, #0089cf 0%, #ad2a86 100%);
			--background-activated: #3880ff;
			--background-activated-opacity: 1; //#0B4DB1 0E5ECA
			--background-hover-opacity: 1;
			--background-hover: #ad2a86;
			--border-radius: 6px;
			--color: #ffffff;
			--color-activated: #ffffff;
			--color-focused: #ffffff;
			--color-hover: #ffffff;
			--opacity: 1;
			--padding-top: 4px;
			--padding-bottom: 4px;
			max-width: 327px;
			min-height: 48px;
			font-family: 'Avenir';
			margin: 15px auto;
		}
	}

	h3 {
		color: #0b4db1;
		font-family: "Poppins";
		font-size: 19px;
		letter-spacing: 0.37px;
		line-height: 28px;
		text-align: center;
	}

	h6 {
		text-align: center;
		width: 261px;
		margin: 15px auto;
		font-size: 14px;
	}

	h5 {
		font-size: 20px;
	}

	.success,
	.danger {
		text-align: center;
		margin: 50px auto;
		img {
			width: 30%;
		}
	}

	ion-label {
		font-size: 12px;
		margin-left: 20px;
	}
}

.right {
  float: right;
}

.clear {
  clear: both;
}