#container {
	padding: 30px 20px;
	height: 100%;

	h3 {
		color: var(--ion-color-primary);
		font-size: 18px;
		margin: 20px 0px 20px 0px;
		font-family: 'Poppins';

		p {
			font-size: 12px;
			color: #8c8c8c;
			padding-top: 0px !important;
		}
	}
}

.edit {
	margin: 30px auto;
}

#container strong {
	font-size: 20px;
	line-height: 26px;
}

#container p {
	font-size: 16px;
	line-height: 22px;

	color: #8c8c8c;

	margin: 0;
}

#container a {
	text-decoration: none;
}

.border-primary {
	border: solid 1px var(--ion-color-primary);
}

.brand {
	padding: 30px;
}

.buttons {
	padding: 30px 0px;
}

ion-input {
	--background: #f2f2f2;
	--placeholder-font-style: initial;
	--placeholder-font-weight: initial;
	--placeholder-opacity: 0.5;
	--padding-top: 15px;
	--padding-bottom: 15px;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
}

.label {
	padding: 30px 10px !important;
	font-size: 12px;
	// font-family: 'Poppins';
	font-weight: normal;
}

.avatar {
	border-radius: 50%;
	width: 86px;
	height: 86px;
	margin: 10px auto;
	position: relative;
	// border: solid 1px var(--ion-color-primary);

	img {
		border-radius: 50%;
		width: 100%;
	}

	ion-button {
		--background: #ffffff;
		--color: #000000;
		--border-radius: 50%;
		--background-hover: transparent;
		position: absolute;
		bottom: 10px;
		right: -9px;
		height: 30px;
		width: 30px;
		--padding-bottom: 0;
		--padding-end: 0;
		--padding-start: 0;
		--padding-top: 0;

		ion-icon {
			font-size: 14px;
		}
	}
}

.btn {
	margin: 50px auto 20px auto;
	ion-button {
		--background: linear-gradient(270deg, #0089cf 0%, #ad2a86 100%);
		--background: linear-gradient(270deg, #de0623 0%, #cd7d04 100%);
		--background-activated-opacity: 1;
		--background-hover-opacity: 1;
		--background-hover: transparent;
		--border-radius: 6px;
		--color: #ffffff;
		--opacity: 1;
		--padding-top: 4px;
		--padding-bottom: 4px;
		min-height: 48px;
		font-family: 'Avenir';
		margin: 20px auto;
	}
}

ion-card {
	text-align: center;
	border-radius: 10px;
	padding: 10px 20px 20px 20px;
	height: 212px;
	// width: 327px;
	margin: 10px 0;
	--background: #ffffff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);

	ion-card-content {
		padding: 0;
	}

	h4 {
		color: #042c5c;
		font-family: "Poppins";
		font-size: 16px;
		letter-spacing: 0.4px;
		line-height: 25px;
		small {
			display: block;
			font-size: 11px;
			color: #8c8c8c;
		}

		ion-icon {
			color: #ffffff;
			background-color: #3880ff;
			border-radius: 50%;
		}
	}

	span {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000000;
		font-family: 'Poppins';
		font-size: 10px;
		letter-spacing: 0;
		line-height: 12px;

		ion-icon {
			font-size: 14px;
			color: #3880ff;
		}
	}
}

.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: center;
}

ion-buttons {
	margin: 10px;
	ion-button {
		--background-hover: transparent;
	}
}

h5 {
	color: #77869e;
	font-family: 'Avenir';
	font-size: 13px;
	font-weight: 900;
	letter-spacing: 0.63px;
	line-height: 18px;
	margin-top: 26px;
}

.nav-item {
	height: 56px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
	padding: 4px 10px;
	margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Poppins';

	small {
		display: block !important;
		color: #77869e;
		font-size: 12px;
	}

	ion-icon {
		background-color: #d9e5f8;
		border-radius: 8px;
		color: var(--ion-color-primary);
		font-size: 18px;
		padding: 8px;
	}

	ion-label {
		color: #042c5c;
		font-size: 14px;
	}

	span {
		width: 100%;
		margin-left: 10px;
	}
}

.no-background {
	background: transparent;
	background-color: transparent !important;
	color: #8c8c8c !important;
}

.btn-transparent {
	--background: transparent !important;
	--color: #cd7d04 !important;
	border: solid 1px #cd7d04;
}
