<ion-content>
  <div id="container">
    <form #form="ngForm" (onSubmit)="sendMail(form)">
      <h3> 
        Forgot Password 
        <p>Please enter your registered email address to reset your PIN</p>
      </h3>
      <div>
        <ion-label class="label">Email Address</ion-label>
        <ion-input name="email" placeholder="Email Address" type="email" [(ngModel)]="details.email"></ion-input>
      </div>
  
      <div class="login-buttons">
        <div>
         
        </div>
        <div class="forgot-pin">
          <ion-button class="no-bg" (click)="goBack()" small fill="clear" mode="ios">
            Back to Login
          </ion-button>
        </div>
      </div>
      <ion-button (click)="sendMail(form)" expand="block" mode="ios">
        PROCEED
      </ion-button>
    </form>
  </div>
</ion-content>
