<div class="overlay">
  <div class="form">
    <!-- Confirmation  -->
    <div >
      <ion-buttons class="right">            
        <ion-button  fill="clear" mode="ios">
          Close X
        </ion-button>
      </ion-buttons>
      <div class="clear"></div>
      <div class="ion-text-center m-3"> 
        <h1>ZAR31,000</h1>          
        <small>Are you sure you want to proceed?</small>
        <div class="btn">
          <ion-button  expand="block" mode="ios">
            COMPLETE APPLICATION
          </ion-button>
        </div> 
        <div class="btn-transparent">
          <ion-button  expand="block" fill="clear" mode="ios">
            NO, TAKE ME BACK
          </ion-button>
        </div>
      </div>
    </div>
    <!-- Confirmation -->
  </div>
</div>